.welcome-top{
    height: auto;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
}
.welcome-top h4{
    text-align: center;
    /* padding: 10px 22px; */
    font-size: 30px;
    margin: 30px 0px;
}
.welcome-reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.welcome-reviews span{
    /* width: %; */
    height: 330px;
    border: 1px solid black;
    border-radius: 21PX;
    padding: 20px;
}
.welcome-reviews span .product-img{
    width: auto;
    height: 200px;
    /* border-radius: 50%; */
    border: 1px solid black;
}
.top-brands{
    height: 400px;
    background-color: lightblue;
    padding: 13px;

}
.top-brands h4{
    font-size: 28px;
    font-weight: 500;
    text-align: center
}
.top-brands .brands-collections{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 40px; */
}
.brands-collections span{
    height: 250px;
    width: 230px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
}