.topper{
    width: 100%;
    /* height: 55px; */

}
.topper nav ul{
    /* width: auto; */
    background-color:lightblue;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 300px;
    text-decoration: none;
}
.topper nav ul .undernine{
    text-decoration: none;
}
.topper ul li{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: rgb(62, 91, 146);
}
.topper ul .highlight{
    font-size: 38px;
}